
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="nav-inner-wrap">
			<div class="breadcrumbs-box">
				<ol class="menu">
					<li><a href="">Главная</a></li>
					<li><a href="">Программное обеспечение для терминалов сбора данных</a></li>
					<li><a href="">Склад 15</a></li>
				</ol>
			</div>
		</div>
		<div class="action-inner-wrap">
			<a href="" class="btn">Войти</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup-toggle js-btn-popup-toggle">
				<div class="button-ico">
					<img src="./img/icons/menu.svg" alt="">
				</div>
				<div class="button-title">Меню</div>
			</a>
			<div class="popup-content-block js-popup-block">
				<div class="popup-content-inner">
					<div class="action-wrap">
						<a href="" class="btn">Войти</a>
					</div>
					<div class="menu-wrap">
						<ul class="menu">
							<li><a href="#section01" class="js-anchor-button">Задачи</a></li>
							<li><a href="#section02" class="js-anchor-button">О программе</a></li>
							<li><a href="#section03" class="js-anchor-button">Цены</a></li>
							<li><a href="#section04" class="js-anchor-button">Как начать работу</a></li>
							<li><a href="#section05" class="js-anchor-button">База знаний Склад 15</a></li>
							<li><a href="#section06" class="js-anchor-button">Совместимый софт и оборудование</a></li>
							<li><a href="#section07" class="js-anchor-button">Раздел технической поддержки</a></li>
						</ul>
					</div>
					<div class="buttons-wrap">
						<div class="button-wrap">
							<a href="" class="btn-action-app">
								<img src="./img/app01.svg" alt="">
							</a>
							<div class="button-info">
								Версия <br><b>3.4.0.37862, 51.78 МБ</b>
							</div>
						</div>
						<div class="button-wrap">
							<a href="" class="btn-action-app">
								<img src="./img/app02.svg" alt="">
							</a>
						</div>
						<div class="button-wrap">
							<a href="" class="btn-action-app">
								<img src="./img/app03.svg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->